input[type="checkbox"] {
  appearance: none;
  border-radius: 15px;
  height: 30px;
  width: 70px;
  margin: 5px;
  background-color: gray;
  outline: none;
  transition: background-color 0.3s;
}

input[type="checkbox"]::before {
  position: relative;
  display: block;
  height: 15px;
  width: 15px;
  border-radius: 15px;
  margin: 7px;
  background-color: white;
  content: "";
  transition: left 0.5s;
}

input[type="checkbox"]:checked {
  background-color: purple;
  transition: background-color 0.3s;
}

input[type="checkbox"]:checked::before {
  background-color: white;
  margin: 7px;
  left: 40px;
  transition: left 0.5s;
}
