* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #000;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 70px;

  flex-direction: column;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.modal-container {
  position: relative;
  width: 800px;
  /* width: auto; */
  width: max-content;
  /* background-color: blue; */
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  gap: 40px;
}
