* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  background-color: #2b2828;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 70px;

  flex-direction: column;
}

form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.modal-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  margin: 0 auto;
  height: 100vh;
}

.modal-container {
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
  position: absolute;
  width: 1000px;
  background-color: rgb(149, 178, 187);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
  gap: 40px;
  border-radius: 40px;
  padding: 80px;
}
